*{
	margin: 0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
	list-style: none;
	text-decoration: none;
}
a{color: #fff;}

/*HEADER*/
header{
	/*background-image: url(../imatges/fondo_header.webp);
	background-size: cover;*/
	/*background-position: 0% 50%;*/
	/*background-color: rgba(255,255,255,0.5);*/
	text-align: center;
	display: flex;
	background-color: #000;
}
h1{
	flex: 1;
	display: inline-block;
	margin-left: 10vw;
	
}
#titol{
	width: 30vw;
	margin-top: 1vw;
	
}
/*header>form{
	position: fixed;
	top: 10px;
	right: -240px;
	z-index: 1;
	width: 250px;
	padding: 1%;
	border-radius: 10px;
	text-align: center;
	background-color: rgba(255,255,255,0.4);
	transition: 2s;
}
header>form:hover{
	right:20px;
}*/
header>form{
	flex: 5;
	text-align: left;
	
	padding: 1vw 0 0 0.5vw;
}
header>form>label{
	display: inline-block;
	min-width: 85px;
	text-align: left;
}
header>form>input:first-of-type{
	padding: 0.3vw;
	width: 150px;
}
header>form>input:nth-of-type(2){
	padding: 0.3vw;
	width: 150px;
}
header>form>input:nth-of-type(3){
	padding: 0.2vw;
}
header>form>input:last-of-type{
	padding: 0.2vw;
}
header>form>div{
	flex: 1;
	display: inline-block;
	margin-left: 10vw;
	border: 2px solid #ffbf00;
	background-color: #ffbf00;
	border-radius: 50px;
}
header>form>div>span{
	padding: 0 1vw;
	font-size: 1.5vw;
	font-weight: bold;
	color: #fff;
}



/*NAV*/
nav{
	display: flex;
	flex-wrap: wrap;
	position: sticky;
	top: 0;
	z-index: 1;
}
nav>ul{
	flex: 8;
	display: flex;
	flex-wrap: wrap;
	min-width: 200px;
	
}
nav li{
	flex: 1;
	text-align: center;
	padding: 0.8%;
	background-color: rgba(0, 0, 0, 0.5);
	color: #270059;
	/*margin-right: 0.5%;
	margin-bottom: 0.5%;*/
	list-style: none;
	min-width: 150px;
}
ul>li{
	position: relative;
}
ul li:hover{
	color: #BC0000;
}
ul>li:hover ul{
	max-height: 500px;
}
ul>li:hover ul>li:hover:first-of-type{
	background-color: rgba(255, 77, 77, 0.7);
}
ul>li:hover ul>li:hover:nth-of-type(2){
	background-color: rgba(255, 77, 77, 0.7);
	z-index: 2;
}
ul>li:hover ul>li:hover:last-of-type{
	background-color: rgba(255, 77, 77, 0.7);
}

ul>li ul>li{
	background-color: rgba(189, 0, 0, 0.7);
	/*border: 1px solid #fff;*/
	min-width: 250px;
}
ul>li ul>li>a{
	color: #fff;
}
li>ul{
	position: absolute;
	overflow: hidden;
	max-height: 0px;
	top: 43px;
	left: 0;
	width: 100%;
	box-shadow: 0 2px 4px rgba(60,60,60,0.6);
	transition: 2s;
}

/*FOOTER*/
footer{
	
	text-align: center;
}
footer>h2{
	padding: 1vw;
}
